@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default size - 4:3 Aspect Ratio */
.map-container {
  width: 800px;
  height: 600px; /* 800/4*3 */
}

/* Medium screens - tablets in landscape mode */
@media (max-width: 1024px) {
  .map-container {
    width: 600px;
    height: 450px; /* 600/4*3 */
  }
}

/* Smaller screens - tablets in portrait mode */
@media (max-width: 768px) {
  .map-container {
    width: 100%;
    height: 75vw; /* 100%/4*3 */
  }
}

/* Very small screens - large smartphones */
@media (max-width: 600px) {
  .map-container {
    height: 75vw; /* Keep aspect ratio */
  }
}

/* Extra small screens - small smartphones */
@media (max-width: 480px) {
  .map-container {
    height: 360px; /* Width is likely around 480px, 480/4*3 */
  }
}

/* Very large screens */
@media (min-width: 1440px) {
  .map-container {
    width: 1000px;
    height: 750px; /* 1000/4*3 */
  }
}
